html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 30px;
   
}


body{

  background-color: rgb(233, 206, 151);
 }
h1{
    font-size: 40px; color: blue; background-color: gainsboro; 
}

h2{
 
    font-size: 25px; color: rgb(255, 0, 0); background-color: rgb(83, 67, 92); 
}

p{
    font-size: 40px; color: rgb(54, 52, 52); background-color: rgb(206, 194, 194); 

}

.in
{
  display: inline;
}

.no
{
 display: block;
}

li {

margin-top: 20px;
    margin-right: 1px;
    margin-bottom: 30px;
    margin-left: 1px;
  }
  a{
    color: tomato; background-color: white;
  }

 
  

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3b5998;
    color: white;
  }

  .fa-twitter {
    background: #55acee;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  #c div {
    margin-left: 500px;
  }